<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.vic_sun.fsc">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name=".MyApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@android:style/Theme.NoTitleBar">
        <activity android:name="com.parenttest.NewsActivity"></activity>
        <activity android:name="com.parenttest.ParentTestActivity" />
        <activity
            android:name="com.parenttest.RegisterActivity"
            android:label="@string/title_activity_register">
        </activity>
        <activity android:name="com.parenttest.LoginActivity" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.parenttest.ParentMainPageActivity"
            android:label="@string/title_activity_parent_main_page"></activity>
    </application>

</manifest>