<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.vic_sun.fsc">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:name=".MyApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@android:style/Theme.NoTitleBar">
        <activity
            android:name="com.parenttest.RegisterActivity"
            android:label="@string/title_activity_register" />
        <activity android:name="com.parenttest.LoginActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="com.teachertest.CheckList" />
        <activity android:name="com.parenttest.Mainpage_litter_parent" />
        <activity android:name="com.leadertest.Mainpage_leader" />
        <activity android:name="com.parenttest.Mainpage_parent" />
        <activity android:name="com.studenttest.Mainpage_student" />
        <activity android:name="com.teachertest.Mainpage_teacher" />
        <activity android:name="com.parenttest.Activity_HandText" />
        <activity android:name="com.parenttest.MediaPlayerDemo_Video" />
        <activity android:name="com.teachertest.CheckDetail" />
        <activity android:name="com.parenttest.UserDetailActivity" />
        <activity android:name="com.studenttest.Activity_Matk_Mainpage" />
        <activity android:name="com.studenttest.Activity_Mark_Student_Page" />
        <activity android:name="com.parenttest.safe_school_list" />
        <activity android:name="com.parenttest.safe_school_detail" />
        <activity android:name="com.parenttest.Message_Hand" />
        <activity android:name="com.parenttest.release_message_main" />
        <activity android:name="com.parenttest.release_message_detail" />
        <activity android:name="com.leadertest.education_news_detail" />
        <activity android:name="com.leadertest.education_news_main_others" />
        <activity android:name="com.leadertest.Activity_Notice" />
        <activity android:name="com.leadertest.Activity_NoticeList" />
        <activity android:name="com.teachertest.Activity_EditRemark" />
        <activity android:name="com.teachertest.Activity_Remark" />
        <activity android:name="com.leadertest.Activity_Notice_Detail" />
        <activity android:name="com.studenttest.activity_allfunctions" />
        <activity android:name="com.teachertest.homework_detail" />
        <activity android:name="com.teachertest.homework_edit" />
        <activity android:name="com.teachertest.HomeworkMainActivity" />
        <activity android:name="com.publicpage.Activity_ErrorPage" />
        <activity android:name="com.publicpage.Activity_NewInform"></activity>
        <activity android:name="com.parenttest.t1"></activity>
        <activity android:name="com.parenttest.t2"></activity>
        <activity android:name="com.parenttest.t3"></activity>

    </application>

</manifest>